<div class="container-md center-container">
        <a class="my-link" href="https://www.google.com/search?q=coronavirus&oi=ddle&ct=153203455&hl=en-GB&source=doodle-ntp&ved=0ahUKEwjHqc7yktnoAhUFdxoKHYdEB3oQPQgB">
                <img class="my-redirect-image" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="google image">
        </a>
        <!-- <a class="my-doodle-icon" href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAoklEQVR42mMwTvvPQAZ2AOKZQPwAimdCxeBqyDX0DBD/R8NnkA0nx+CZWAyF4ZmUGPwAj8EPBp3BzkB8mdSgwBfTMkC8EsmAW8RGHq6YPgu14DOUD6IrgNiF2OSGL6ZheDUQyxEbbMREyCcgdiU1kkmKaXIMxhcUlylxMa7Iu0VpGONKbqDYL6ckVRDCZKdjmua84VkI0bQ8plkNQrM6jygMAODsqWK79M8/AAAAAElFTkSuQmCC" alt="icon image"></a> -->
</div>
<div class="container-md">
        <app-search-input></app-search-input>
</div>
