img {
    margin: 0 auto;
}

.row {
    text-align: center;
}

.container-md {
    margin-top: 10%;
    text-align: center;
}

.my-doodle-icon {
    position: relative;
    left: 516px; 
    top: 162px;
}