img {
    margin: 0 auto;
}

.row {
    text-align: center;
}

.container-md {
    margin-top: 10%;
    text-align: center;
}

.my-doodle-icon {
    position: relative;
    left: 516px; 
    top: 162px;
}

.search-container {
    margin-top: 5%;
}

.shortcut-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-start: left;
    margin: 5% auto 0;
    width: 580px;
}